.container-fluid
.container
  .row
    .col-lg-12.col-md-12
      = form_for :founds, html: { multipart: true, class: 'form-horizontal center', id: 'found-form' }, url: { action: "create"} do |f|
        %img.macrabz-admin.center-block{:alt => 'foundit', :src => '/assets/founditlogo.png'}
          .form-group
            = f.label :photo, 'Picture:', class: 'col-lg-2 control-label'
            .col-md-8
              = f.file_field :photo, class: 'col-lg-4 control-label'
          .form-group
            = f.label :title, 'Title:', class: 'col-lg-2 control-label'
            .col-md-8
              = f.text_field :title, class: 'form-control'
          .form-group
            = f.label :category, 'Category:', class: 'col-lg-2 control-label'
            .col-md-8
              = f.text_field :category, class: 'form-control'
          .form-group
            = f.label :kind, 'Type:', class: 'col-lg-2 control-label'
            .col-md-8
              = f.text_field :kind, class: 'form-control'
          .form-group
            = f.label :color, 'Color(s):', class: 'col-lg-2 control-label'
            .col-md-8
              = f.text_field :color, class: 'form-control'
          .form-group
            = f.label :description, 'Description:', class: 'col-lg-2 control-label'
            .col-md-8
              = f.text_area :description, class: 'form-control'
          .form-group
            = f.label :location, 'Location:', class: 'col-lg-2 control-label'
            .col-md-8
              = f.text_field :location, class: 'form-control'
          .form-group
            = f.label :brand, 'Brand:', class: 'col-lg-2 control-label'
            .col-md-8
              = f.text_field :brand, class: 'form-control'
          .col-md-12.update-button
            = f.submit 'Add Found Item', class: 'btn btn-primary btn-lg center-block'
          %br
          %br
          %br
          %br
      %hr
