.container
  .row
    .col-sm-12
      %img.checkout-image.center-block{:alt => 'foundit', :src => '/assets/founditlogo2.png'}
      %h1.text-center.index-header Found Items
      %form
        .col-lg-6.col-lg-offset-3.col-md-8.col-md-offset-2
          .input-group
            %span.input-group-btn
              %button.btn.btn-default{:type => "button"} Lets Find It!
            %input.form-control{:placeholder => "Search for...", :type => "text"}
        %table#cart.table
          %thead
            %tr
              %th.text-center Picture
              %th.text-center Title
              %th.text-center Score
              %th.text-center Description
              %th.text-center Location
              %th.text-center Brand
              %th.text-center Date
          %tbody
          - @matches.each do |item, score|
            %tr
              %td.text-center.admin-image= image_tag(item.photo)
              %td.text-center
                %a{href:"/founds/#{item.id}"}= item.title
                %td.text-center= score.round(2)
              %td.text-center= item.description
              %td.text-center= item.location
              %td.text-center= item.brand
              %td.text-center= item.created_at

