.container
  .row
    .col-lg-12
      .col-lg-7
      = @score.each do |found_item, score|
        %h1.product-page-header.text-center
          %a{href:"/founds/#{found_item.id}"}= found_item.title
        %p.product-page-header.text-center
          Category
          = found_item.category
        %p.product-page-header.text-center
          = found_item.kind
        %p.product-page-header.text-center
          = found_item.color
        %p.product-page-header.text-center
          = found_item.description
        %p.product-page-desc.text-center
          = score
