!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Lostandfound
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %nav.navbar.navbar-default.navbar-fixed-top
    .container-fluid
      .navbar-header
        %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => ".navbar-brand", "data-toggle" => "collapse", type: "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        = link_to image_tag('/assets/founditlogo2.png'), losts_path, class: 'navbar-brand'
      .collapse.navbar-collapse#main-nav
        %ul.nav.navbar-nav
          %li.dropdown
            %a.dropdown-toggle{"data-target" => "#", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              Lost
              %b.caret
            %ul.dropdown-menu{ :role => 'menu'}
              %li
                = link_to 'View all Lost Items', losts_path
                = link_to 'Add a Lost Item', new_lost_path
        %ul.nav.navbar-nav
          %li.dropdown
            %a.dropdown-toggle{"data-target" => "#", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              Found
              %b.caret
            %ul.dropdown-menu{ :role => 'menu'}
              %li
                = link_to 'View all Found Items', founds_path
                = link_to 'Add a Found Item', new_found_path
        = link_to image_tag('/assets/search2.png'), losts_path, class: 'navbar-search slideout-menu-toggle'
  %body
    .container
      .row
        .col-sm-12
          %p.notice.text-center= notice
          %p.alert.text-center= alert
    = yield
    .slideout-menu
      %h3
        .statisticstitle
          Search
      .row
        .col-lg-8.col-lg-offset-2
          %form
            %input.form-control{:placeholder => "Item", :type => "text"}
            %br
            %input.form-control{:placeholder => "Description", :type => "text"}
            %br
            %input.form-control{:placeholder => "Location", :type => "text"}
            %br
            %input.form-control{:placeholder => "Date", :type => "text"}
            %br
            %ul.nav.navbar-nav
              %li.dropdown
                %a.dropdown-toggle{"data-target" => "#", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                  Color
                  %b.caret
                %ul.dropdown-menu{ :role => 'menu'}
                  %li
                    Yellow
                  %li
                    Orange
                  %li
                    Green
                  %li
                    Blue
            %br
            %br
            %br
              %ul.nav.navbar-nav
                %li.dropdown
                  %a.dropdown-toggle{"data-target" => "#", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                    Lost or Found?
                    %b.caret
                  %ul.dropdown-menu{ :role => 'menu'}
                    %li
                      Lost
                    %li
                      Found
            %br
            %button.update-button.btn.btn-primary.btn-lg.center-block
              Search
          

    /       %img.macrabz-admin.center-block{:alt => 'Macrabz Emporium', :src => '/assets/lostit.png'}
    /       .form-center
    /         - if flash[:error]
    /           #flash.error.text-center
    /             = flash[:error]
    /         .form-group
    /           = f.label :picture, 'Photo:', class: 'col-lg-4 col-md-4 control-label'
    /           .col-md-6
    /             = f.text_field :picture, class: 'form-control'
    /         .form-group
    /           = f.label :title, 'Title:', class: 'col-lg-4 col-md-4 control-label'
    /           .col-md-6
    /             = f.text_field :title, class: 'form-control'
    /         .form-group
    /           = f.label :description, 'Description:', class: 'col-lg-4 col-md-4 control-label'
    /           .col-md-6
    /             = f.text_area :description, class: 'form-control'
    /         .form-group
    /           = f.label :location, 'Location:', class: 'col-lg-4 col-md-4 control-label'
    /           .col-md-6
    /             = f.text_field :location, class: 'form-control'
    /         .form-group
    /           = f.label :brand, 'Brand:', class: 'col-lg-4 col-md-4 control-label'
    /           .col-md-6
    /             = f.text_field :brand, class: 'form-control'
    /         .form-group
    /           = f.label :colors, 'Colors:', class: 'col-lg-4 col-md-4 control-label'
    /           .col-md-6
    /             .dropdown
    /               %button#dropdownColors.btn.btn-default.dropdown-toggle{ 'aria-expanded' => true, 'aria-haspopup' => true, 'data-toggle' => 'dropdown', type: 'button' }
    /                 %span.hida.caret
    /                 %p.multiSel
    /               %ul.dropdown-menu{'aria-labelledby' => 'dropdownCategories'}
    /                 %ul.multiSelect{multiple: 'multiple'}
    /                   %input{type: 'checkbox', value: 'orange'}
    /         .form-group
    /           = f.label :reward, 'Reward:', class: 'col-lg-4 col-md-4 control-label'
    /           .col-md-8
    /             = f.text_field :reward, class: 'form-control'
    /         .col-md-12.update-button
    /           = f.submit 'Add Lost Item', class: 'btn btn-primary btn-lg center-block'


    / 